<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_logo_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.LectoYa"
        tools:targetApi="31">
        <activity
            android:name=".seleccionarJuegosDocente"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".editarCambialoYa"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".editar4opciones"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".EditarVerdaderoOFalso"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".editarTuttiFruttiLiterario"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".editarCapturaElMomento"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".editarDadoDeLasPreguntas"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".editarDaleUnSignificado"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".editarAhoraQueHaremos"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".editarHistoriasInteractivas"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".editarModulo"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".crearModulosDocente"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".test4opciones"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".testVerdaderoFalso"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mostrarJuegos"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".dadoDeLasPreguntas"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".cambialoYa"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".tuttiFruttiLiterario"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".capturaElMomento"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".daleUnSignificado"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ahoraQueHaremos"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".historiasInteractivas"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".RegistroDocente"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".eliminarCuentaDocente"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".recuperarContrasenia"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AulasDocente"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".DocenteAula"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AlumnoAula"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Registro"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".IniciarSesion"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>